.cart-item{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    transition: all 0.3s ease;
    width: 350px;
    margin: 20px;
    padding: 10px 20px;
    

}
.align-cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cart-item img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.cart-item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0,0.5);
}
.remove{
    background-color: rgb(255, 81, 81);
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}
.container-cart{
    margin-top: 20px;
}
.cart{
    margin: 0;
    min-height: 100vh;
}
.addsub{
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:brown;
    font-weight: bolder;
    font-size: larger;
}
.addsubsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}
.addsubsection p{
    font-size: 15px;
    font-weight: bolder;
    
}









