.container-footer{
    background-color: wheat;
    padding: 20px;
    text-align: center;
    color: #333;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}
.links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.links li{
    margin-right: 20px;

}
.links a{
    text-decoration: none;
    color: #333;
}
.socials ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.socials li{
    margin-right: 20px;
}
.socials a{
    color: #333;
    text-decoration: none;
}